@import "../variables.scss";
@import "../mixins.scss";

.taskForm {
  @include container(transparent, 100%, 100%);
  @include flex(column, none, center);
}
.taskFormLabel {
  color: $fifth-color;
  font-family: $second-font;
  font-size: 0.75em;
}
.taskFormInput, .taskFormButton {
  border: 1px solid $first-color;
  border-radius: 0.5em;
  padding: 1em;
}
.taskFormInput {
  margin-bottom: 1em;
}
.taskFormButton {
  background-color: $first-color;
  color: $third-color;
  font-family: $first-font;
  font-size: 1em;
  font-weight: bold;
  margin-top: 1em;
  transition: 0.1s;
}
.taskFormButton:hover {
  cursor: pointer;
  opacity: 0.5;
}