@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url("https://fonts.googleapis.com/css?family=Nunito");

$first-font: 'Poppins';
$second-font: 'Nunito';
$first-color: #222227;
$second-color: #F0F2FC;
$third-color: #FFFFFF;
$fourth-color: #6379F4;
$fifth-color: #9F9F9F;
$base-shadow: 0 0 1em rgb(0 0 0/.15);